@font-face {
    font-family: 'poppins';
    src: url('./../assets/font/Poppins/Poppins-Medium.ttf');
};

@font-face {
    font-family: 'poppinsBolt';
    src: url('./../assets/font/Poppins/Poppins-Bold.ttf');
};


$font-pop:'poppins';
$font-pop-bolt:'poppinsBolt';